#ifndef ROCKET_CONFIG_H
#define ROCKET_CONFIG_H

#include <stdint.h>

#define LENGTH_TIME_SERIES ({{length_time_series}})
#define NUM_KERNELS ({{num_kernels}})
#define NUM_DILATIONS ({{num_dilations}})
#define NUM_BIASES_PER_KERNEL ({{num_biases_per_kernel}})
#define NUM_FEATURES (NUM_KERNELS * NUM_DILATIONS * NUM_BIASES_PER_KERNEL)

#define NUM_TIMESERIES ({{num_time_series}})

#define MAX_FEATURES_PER_DEVICE ({{max_features_per_device}})

typedef {{time_series_type_t}} time_series_type_t;

#define DEVICE_NUM_FEATURES (NUM_FEATURES)

#define MAX_FEATURES_PER_DEVICE (NUM_FEATURES)

#define NUM_CLASSES ({{num_classes}})

void init_rocket();

const time_series_type_t const **get_timeseries();

const uint8_t *get_labels();

const uint16_t *get_kernels();

const uint32_t *get_dilations();

const float *get_quantiles();

float *get_biases();

#endif